<div cdkDropListGroup>
    <div class="tasks w-full">
        <div class="w-half pending">
            <h2 class="status-title">Pendentes</h2>
            <div
                cdkDropList
                [cdkDropListData]="todoTasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" 
                    *ngFor="let item of todoTasks" 
                    (click)="openTaskDialog(item)"
                    cdkDrag>
                    <div class="actions">
                        <a>
                            <mat-icon>mode_edit</mat-icon>
                        </a>
                    </div>
                    <p [innerHtml]="item.description"></p>
                    <mat-hint>{{item?.owner}}</mat-hint>
                </div>
            </div>
        </div>
        <div class="w-half finished">
            <h2 class="status-title">Concluídas</h2>
            <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>
                    {{item.description}}
                </div>
            </div>
        </div>
    </div>
</div>