<div cdkDropListGroup>
    <div class="tasks">
        <div class="drag pending">
            <div
                cdkDropList
                [cdkDropListData]="todoTasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of todoTasks" cdkDrag>
                    <button (click)="edit(item)">teste</button>    
                    {{item.description}}
                </div>
            </div>
        </div>
        <div class="drag finished">
            <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
        </div>
    </div>
</div>