$border-radius-5: 5px;

.tasks {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  
  .pending,
  .finished {
    height: 100%;
    width: 40%;
    background-color: #3f51b5;
    padding: 1rem;
    max-width: 40%;
  }
}

.status-title {
  text-align: center;
  margin-bottom: 0;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.example-list {
  min-height: 60px;
  height: 100%;
  padding: .5rem;
  overflow: hidden;
  display: block;
}

.example-box {
  margin: 10px 0;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: move;
  background: white;
  border-radius: $border-radius-5;
  position: relative;

}
  
  /*
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  */