/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
    background: url("assets/backgroung.jpg");
}

.header {
    mat-toolbar{
        background: transparent;
        color: #000;
    }
}

.footer {
    width: 100%;
    margin-top: 3rem;    
    bottom: 0;
    background: transparent;
    color: #000;
    text-align: center;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 100%;
}

.success,
.error {
    opacity: .8;
    border: solid 1px #FFF;
}

.success {
    background: rgb(9,121,50);
    background: linear-gradient(90deg, rgba(9,121,50,1) 0%, rgba(8,161,82,1) 35%, rgba(0,255,161,1) 100%);    
}

.error {
    background: rgb(231,0,0);
    background: linear-gradient(90deg, rgba(231,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(253,29,29,1) 100%);
}